@tailwind base;
@tailwind components;
@tailwind utilities;


.logo {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
     @media screen and (max-width:768px) {
            font-size: 20px;
    }
}
.logo_sec{
    color:#A1A1A1;
    font-size: 30px;
    font-weight: lighter;
    @media screen and (max-width:768px) {
            font-size: 20px;
    }
}
.text_light {
        color:#A1A1A1;
        font-weight: lighter;
        text-transform: uppercase;
}
.text_dark {
        color:#000;
        font-weight: lighter;
        text-transform: uppercase;
}
.nav_item_unToggled {
    @apply flex flex-col h-auto w-[16rem] bg-[#eeeeee] px-3  rounded-2xl items-center justify-between gap-10
}
.nav_item_toggled {
    @apply flex flex-col h-[15rem] w-[16rem] bg-[#eeeeee] px-3  rounded-2xl items-center justify-center gap-10
}
h1 {
    font-size: 90px;
}
h2 {
    font-size: 70px;
}
h3 {
    font-size: 50px;
}
h4 {
    font-size: 30px;
}
h5{
 font-size: 25px;
}
p {
    font-size: 18px;
}